<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                            <iframe name="youtube_iframe" id="course-video" width="100%" height="500px" src="https://www.youtube.com/embed/<%=firstId%>">
                            </iframe>
                           <!-- <a><img src="data:course/<%=course.image.contentType%>;base64,<%=course.image.data.toString('base64')%>" alt="img"></a> -->
                           <figcaption class="mu-latest-course-imgcaption">
                             <a href="#"><%=course.category%></a>
                             <span></i><%=course.lessons.length%> Bài Giảng</span>
                           </figcaption>
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2><a><%=course.title%></a></h2>
                           <h4>Thông Tin Khoá Học</h4>
                           <ul>
                             <li> <span>Gia Sư: </span> <span><%=course.authorName%></span></li>
                             <li> <span>Ngày Tải Lên: </span> <span><%=date%></span></li>
                           </ul>
                           <h4>Mô Tả</h4>
                           <p><%=course.description%>.</p>
                           <div class="table-responsive">
                            
                           <a class="mu-post-btn" href="<%=course.id%>/register">ĐĂNG KÝ</a>
                           </div>
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
                 <!-- end course content container -->
                 <!-- start related course item -->
                 <div class="row">
                   <div class="col-md-12">
                     <div class="mu-related-item">
                   <h3>Các Khoá Học Liên Quan</h3>
                   <div class="mu-related-item-area">
                     <div id="mu-related-item-slide">
                       <% recourse.forEach(function(recourse){%>
                        <div class="col-md-6">
                          <div class="mu-latest-course-single">
                              <figure class="mu-latest-course-img">
                                <a href="course-detail"><img src="data:recourse/<%=recourse.image.contentType%>;base64,<%=recourse.image.data.toString('base64')%>" alt="img"></a>
                                <figcaption class="mu-latest-course-imgcaption">
                                  <a href="#"><%=recourse.category%></a>
                                  <span><%=recourse.lessons.length%> Bài Giảng</span>
                                </figcaption>
                              </figure>
                              <div class="mu-latest-course-single-content">
                               <h4><a href="course-detail"><%=recourse.title%></a></h4>
                               <p>Gia sư: <%=recourse.authorName%></p>
                                <div class="mu-latest-course-single-contbottom">
                                   <a class="mu-course-details" href="../course-detail/<%=recourse.id%>">Chi Tiết</a>
                                </div>
                              </div>
                            </div> 
                         </div>
                        <%})%>
                       
                       
                       
                     </div>
                   </div>
                 </div>
                   </div>
                 </div>
                 <!-- end start related course item -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                    <h3>Danh Sách Bài Học</h3>
                    <div class="mu-sidebar-popular-courses">
                      <div class="media">
                        
                        <div class="media-body">
                          <%var i=1%>
                          <%course.lessons.forEach(function(lesson){%>
                            <% var video_id = lesson.link.split('v=')[1]; %>
                            <% var ampersandPosition = video_id.indexOf('&');%>
                              <% if(ampersandPosition != -1) { %>
                                <% video_id = video_id.substring(0, ampersandPosition); %>
                              <%}%>
                          <h4 class="media-heading"><a id="course-link" href="https://www.youtube.com/embed/<%=video_id%>" target="youtube_iframe" style="margin-left: 10px"><%=i++%> - <%=lesson.title%></a></h4><hr>
                          <%})%>                      
                        </div>
                      </div>
 
                    </div>
                  </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                   
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer'); %>
