<%- include('header'); %>
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="/assets/img/slider/23964.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Chào Mừng Bạn Đến Với Varsity</h4>
        <span></span>
        <h2>Hệ Thống Gia Sư Trực Tuyến</h2>
        <p>Chúng tôi cung cấp các dịch vụ học trực tuyến với các gia sư có trình độ, giảng dạy chuyên nghiệp, cùng với những khoá học bổ ích giúp học viên rèn luyện khả năng học tập.</p>
        <a href="#" class="mu-read-more-btn">Tìm Hiểu Thêm</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-book"></span>
              <h3>Học Trực Tuyến</h3>
              <p>Hệ thống học trực tuyến giúp tiết kiệm thời gian cho việc học tập của Học viên.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-users"></span>
              <h3>Gia Sư Chuyên Nghiệp</h3>
              <p>Đội ngũ Gia sư với trình độ chuyên môn cao, giảng dạy tận tình.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3>Các Khoá Học Bổ ích</h3>
              <p>Các khoá học giúp cho Học viên có thể tự rèn luyện các môn học mà bản thân mong muốn.</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>Giới Thiệu</h2>              
                  </div>
                  <!-- End Title -->
                  <p>Với tình hình dịch bệnh diễn biến phức tạp thì học trực tuyến được xem là phương pháp hiệu quả và an toàn nhất dành cho Giáo viên và các em Học sinh, từ nhu cầu đó chúng tôi cho ra mắt một Website học trực tuyến Varsity.</p>
                  <p>Varsity là một Website học trực tuyến với đội ngũ Gia sư trình độ cao, giúp cho các Học viên có thể nâng cao trình độ học vấn thông qua các lớp học.</p>
                  <ul>
                    <li>Đăng ký các lớp học hàng tuần của Gia sư.</li>
                    <li>Trao đổi trực tiếp với Gia sư thông qua video call vào mỗi buổi học, hoặc liên hệ Gia sư qua hệ thống chat của Website.</li>
                    <li>Đăng ký các khoá học ngoài giờ để rèn luyện thêm kỹ năng.</li>
                    <li>Tham gia trao đổi, giải đáp thắc mắc trên Diễn đàn.</li>
                    <li>Tự đánh giá năng lực bản thân thông qua các bài kiểm tra trên Hệ thống.</li>
                  </ul>
                  
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
                <a id="mu-abtus-video" href="https://www.youtube.com/embed/pV7VWJhFEzA" target="mutube-video">
                  <img src="/assets/img/about-us.jpg" alt="img">
                </a>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-book"></span>
                  <h4 class="counter">568</h4>
                  <p>Khoá Học</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-users"></span>
                  <h4 class="counter">3500</h4>
                  <p>Học Viên</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-flask"></span>
                  <h4 class="counter">65</h4>
                  <p>Lớp Học</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single no-border">
                  <span class="fa fa-user-secret"></span>
                  <h4 class="counter">250</h4>
                  <p>Gia Sư</p>
                </div>
              </div>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->

  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Dịch Vụ Của Chúng Tôi</h2>
              
            </div>
            <!-- End Title -->
            <!-- Start features content -->
            <div class="mu-features-content">
              <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-book"></span>
                    <h4>Các Khoá Học Bổ Ích</h4>
                    <p>Hệ thống cung cấp các khoá học được các Gia sư tạo ra nhằm mục đích giúp cho Học viên có thể tự rèn luyện ngoài giờ học trên lớp.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-users"></span>
                    <h4>Đội Ngũ Gia Sư Trình Độ Cao</h4>
                    <p>Hệ thống Gia sư có trình độ chuyên môn cao nhằm đáp ứng được các yêu cầu của Học viên, đầy đủ Gia sư cho từng môn học.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-laptop"></span>
                    <h4>Học Trực Tuyến</h4>
                    <p>Hệ thống dạy kèm hoàn toàn trực tiếp, tiết kiệm được thời gian và chi phí cho việc đi lại giữa Gia sư và Học viên.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-microphone"></span>
                    <h4>Liên Hệ Trực Tiếp Với Gia Sư</h4>
                    <p>Hệ thống cho phép Gia sư và Học viên tương tác trực tiếp với nhau thông qua Video call và hệ thống Chat của Website.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-film"></span>
                    <h4>Các Khoá Học Dưới Dạng Video</h4>
                    <p>Các khoá học được Gia sư ghi lại và đăng lên Website dưới dạng Video Clip, giúp Học viên dễ tiếp thu kiến thức và có thể xem lại nhiều lần.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-certificate"></span>
                    <h4>Hệ Thống Đơn Giản, Dễ Sử Dụng</h4>
                    <p>Hệ thống được thiết kế tối giản, giúp cho người dùng có được những trải nghiệm mượt mà nhưng không kém phần chuyên nghiệp.</p>
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End features content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->

  <!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Khoá Học Mới Nhất</h2>
              <p>Các khoá học mới nhất được Gia sư đăng tải lên Hệ thống.</p>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Học tốt toán 12</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Học tốt toán 12</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Học tốt toán 12</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Học tốt toán 12</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>
             
              
            </div>
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->
  
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Lớp Học Mới Nhất</h2>
              <p>Các lớp học mới nhất được Gia sư khai giảng trên Hệ thống.</p>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lớp luyện đề thi Toán THPT</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lớp luyện đề thi Toán THPT</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="/assets/img/courses/kh1.jpg" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Toán</a>
                      <span><i class="fa fa-clock-o"></i>3 tháng</span>
                      
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lớp luyện đề thi Toán THPT</a></h4>
                    <p>Gia sư: Nguyễn Hồ Ngọc Trung</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Chi Tiết</a>
                      <span class="mu-course-price" href="#">1.500.000vnđ</span>
                    </div>
                  </div>
                </div>
              </div>

              
             
              
            </div>
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start our teacher -->
  <section id="mu-our-teacher">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-our-teacher-area">
            <!-- begain title -->
            <div class="mu-title">
              <h2>Danh Sách Gia Sư</h2>
              
            </div>
            <!-- end title -->
            <!-- begain our teacher content -->
            <div class="mu-our-teacher-content">
              <div class="row">
                <% teachers.forEach(function(item) {%>
                  <div class="col-lg-3 col-md-3  col-sm-6">
                    <div class="mu-our-teacher-single">
                      <figure class="mu-our-teacher-img">
                        <img src="data:item/<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64')%>" alt="teacher img">
                        <div class="mu-our-teacher-social">
                          <a href="<%=item.fb%>"><span class="fa fa-facebook"></span></a>
                          <a href="<%=item.tw%>"><span class="fa fa-twitter"></span></a>
                          <a href="<%=item.lnk%>"><span class="fa fa-linkedin"></span></a>
                          <a href="<%=item.email%>"><span class="fa fa-google-plus"></span></a>
                        </div>
                      </figure>                    
                      <div class="mu-ourteacher-single-content">
                        <h4><%=item.name%></h4>
                        <span>Gia Sư Toán</span>
                        <p>- Chú trọng vào bản chất, phân tích vấn đề, tư duy giải quyết vấn đề, ví dụ minh họa trực quan, giúp học sinh tìm được con đường chính để học, không sa đà mất thời gian vào những bài tập vô bổ, ngõ cụt,... '</p>
                      </div>
                    </div>
                  </div>
                <% }) %>
                

                

                
                

                
                
              </div>
            </div> 
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->

  <!-- Start testimonial -->
  <section id="mu-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-testimonial-area">
            <div id="mu-testimonial-slide" class="mu-testimonial-content">
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>Xuất phát điểm là một học sinh học lực yếu, cánh cửa vào các trường TOP dường như khép dần lại với em, cho đến khi em biết đến thầy Ngọc Trung.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="/assets/img/testimonial-1.jpg" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Vũ Đăng</h4>
                  <span>Học Viên</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>Em cảm ơn thầy Ngọc Trung đã giúp em từ một đứa lên 11 mới nhận thức rõ cần phải học, mất gốc Toán trầm trọng.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="/assets/img/testimonial-3.jpg" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Minh An</h4>
                  <span>Học Viên</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              
              <!-- end testimonial single item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End testimonial -->

  <!-- Start from blog -->
  <section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <h2>Diễn Đàn</h2>
              <p>Các bài viết nỗi bật trên Diễn đàn.</p>
            </div>
            <!-- end title -->  
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="/assets/img/blog/blog-1.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">Tổng hợp công thức Vật lý 11</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">Vũ Đăng</a>
                      <a href="#">9/7/2021</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>Tổng hợp công thức Vật lý 11.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="/assets/img/blog/blog-1.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">ĐỀ LUYỆN THI THPTQG MÔN VẬT LÍ - ĐỀ 1</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Minh An</a>
                      <a href="#">9/7/2021</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>Đề luyện thi THPTQG môn Vật lí - ĐỀ 1.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="/assets/img/blog/blog-3.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="#">Ebook Bí Quyết luyện thi Quốc gia môn Toán.</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">Thầy Nguyễn Hồ Ngọc Trung</a>
                      <a href="#">8/7/2021</a>
                      <span><i class="fa fa-comments-o"></i>87</span>
                    </div>
                    <div class="mu-blog-description">
                      <p>Ebook Bí Quyết luyện thi Quốc gia môn Toán.</p>
                      <a class="mu-read-more-btn" href="#">Read More</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>     
            <!-- end from blog content   -->   
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End from blog -->
  <%- include('footer'); %>
  

  </body>
</html>