<%- include('header') %>

<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="" style="height: 80px; width: 80px;">
                            <ul class="meta list list-unstyled">
                                <li class="name"><%=student.name%>
                                    
                                </li>
                                <li class="email"><a href="#"><%=student.email%></a></li>
                                <li class="activity">Học Viên</li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                              <li><a href="http://localhost:3000/profile"><span class="fa fa-user"></span> Thông Tin</a></li>
                              <li class="active"><a href="http://localhost:3000/profile/registered-course"><i class="fas fa-book"></i> Khoá Học Đã Đăng Ký</a></li>
                              <li><a href="http://localhost:3000/profile/student-registeredclass"><i class="fas fa-book"></i> Lớp Học Đã Đăng Ký</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel">
                        <h2 class="title">Danh Sách Khoá Học Đã Đăng Ký</h2>
                        <div class="row">
                          <% student.registeredCourse.forEach(function(course){%>
                            <div class="col-sm-6 col-md-5 fa-border" style="padding: 10px; margin: 20px;">
                              <div class="card">
                                <div class="card-body">
                                    <a href="#"><img src="data:course/<%=course.image.contentType%>;base64,<%=course.image.data.toString('base64')%>" alt="img" style="width: 100%;"></a>
                                  <h5 class="card-title"><%=course.category%></h5>
                                  <h4 class="card-title"><%=course.title%></h4>
                                  <p class="card-text"><%=course.description%>.</p>
                                  <a href="../course-detail/<%=course.id%>" class="btn btn-primary">Chi Tiết</a>
                                </div>
                              </div>
                            </div>
                          <% }) %>
                            
                            

                            

                              <!-- start course pagination -->
                
                  <!-- end course pagination -->
                          </div>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>


    <%- include('footer') %>