<%- include('header') %>

<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="" style="height: 80px; width: 80px;">
                            <ul class="meta list list-unstyled">
                                <li class="name"><%=student.name%>
                                    
                                </li>
                                <li class="email"><a href="#"><%=student.email%></a></li>
                                <li class="activity">Học Viên</li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li class="active"><a href="#"><span class="fa fa-user"></span> Thông Tin</a></li>
                                <li><a href="profile/registered-course"><i class="fas fa-book"></i> Khoá Học Đã Đăng Ký</a></li>
                                <li><a href="../profile/student-registeredclass"><i class="fas fa-book"></i> Lớp Học Đã Đăng Ký</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel">
                        <h2 class="title">Trang Cá Nhân</h2>
                        <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông Tin Cá Nhân</h3>
                                <div class="form-group avatar">
                                    <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                        <img class="img-rounded img-responsive" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="" style="height: 80px; width: 80px;">
                                        
                                    </figure>
                                    <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                        <input type="file" name="file" class="file-uploader pull-left" required>
                                        
                                    </div>
                                </div>
                                
            
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Họ và Tên</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ và tên" value="<%=student.name%>" required>
                                    </div>
                                </div>

                                
                                
                            </fieldset>
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông tin liên hệ</h3>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="email" name="email" class="form-control" placeholder="student@gmail.com" value="<%=student.email%>" required>
                                        <p class="help-block">Nhập Email của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Facebook</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <input type="url" name="facebook" class="form-control" placeholder="https://www.facebook.com/profile.php?id=100008142433542" value="<%=student.fb%>">
                                        <p class="help-block">Nhập link Facebook của bạn</p>
                                    </div>
                                </div>
                                
                                
                                
                            </fieldset>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-primary" type="submit" value="Cập Nhật">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <%- include('footer') %>