<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container mu-course-details">
                   <div class="row">
                     <div class="col-md-12">
                       <div class="mu-latest-course-single">
                         <figure class="mu-latest-course-img">
                           <a href="#"><img src="data:teacher/<%=teacher.image.contentType%>;base64,<%=teacher.image.data.toString('base64')%>" alt="img"></a>
                         </figure>
                         <div class="mu-latest-course-single-content">
                           <h2><a>Gia Sư <%=teacher.name%></a></h2>
                           <h4>THÔNG TIN GIA SƯ</h4>
                           <ul>
                             <li> <span>Họ Và Tên</span> <span><%=teacher.name%></span></li>
                             <li> <span>Nơi Công Tác</span> <span><%=teacher.workplace%></span></li>
                             <li> <span>Môn Dạy</span> <span><%=teacher.achievement%></span></li>
                             <li> <span>Học Vị</span> <span><%=teacher.degree%></span></li>
                             <li> <span>Email</span> <span><%=teacher.email%></span></li>
                             <li> <span>Facebook</span> <span><a href="<%=teacher.fb%>"><%=teacher.fb%></a></span></li>
                           </ul>
                           <h4>ĐÔI NÉT VỀ THẦY</h4>
                           <p>- <%=teacher.introduce%>.</p><br>
                            
                           
                         </div>
                       </div> 
                     </div>                                   
                   </div>
                 </div>
                 <!-- end course content container -->
                 <!-- start related course item -->
                  
                 <!-- end start related course item -->
               </div>
               <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Lớp học của Gia Sư</h3>
                    <div class="mu-sidebar-popular-courses">
                      <% classroom.forEach(function(classroom){ %>
                        <div class="media">
                          <div class="media-left">
                            <a href="course-detail">
                              <img class="media-object" src="data:classroom/<%=classroom.image.contentType%>;base64,<%=classroom.image.data.toString('base64')%>" alt="img">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="course-detail"><%=classroom.classname%></a></h4>                      
                          </div>
                        </div>
                      <% }) %>
                        
                      
 
                      
                      
                     
                    </div>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                   <h3>Khoá Học của Gia Sư</h3>
                   <div class="mu-sidebar-popular-courses">
                     <% course.forEach(function(course){%>
                      <div class="media">
                        <div class="media-left">
                          <a href="../course-detail/<%=course.id%>">
                            <img class="media-object" src="data:course/<%=course.image.contentType%>;base64,<%=course.image.data.toString('base64')%>" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><a href="../course-detail/<%=course.id%>"><%=course.title%></a></h4>                      
                        </div>
                      </div>
                     <% }) %>
                     

                     
                     
                    
                   </div>
                 </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('footer'); %>