<%- include('header'); %>
<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            <ul class="meta list list-unstyled">
                                <li class="name"><% if(username == ""){ %>
                                    Your Name
                                <% }else{ %>
                                    <%-username%>
                                <% } %>
                                    
                                </li>
                                <li class="email"><a href="#">
                                    <% if(tcemail == ""){ %>
                                        Your Email
                                    <% }else{ %>
                                        <%-tcemail%>
                                    <% } %>
                                </a></li>
                                <li class="activity">
                                    <% if(achievement == ""){ %>
                                        Your Subject
                                    <% }else{ %>
                                        <%-achievement%>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li class="active"><a href="#"><span class="fa fa-user"></span> Thông Tin</a></li>
                                <li><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Lớp Học</a></li>
                                <li><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Khoá Học</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel" id="infor">
                        <h2 class="title">Trang Cá Nhân</h2>
                        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="profile/addprofile">
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông Tin Cá Nhân</h3>
                                <div class="form-group avatar">
                                    <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                        <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                    </figure>
                                    <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                        <input type="file" name="file" id="file" class="file-uploader pull-left">
                                        <button type="submit" class="btn btn-sm btn-default-alt pull-left">Cập nhật ảnh</button>
                                    </div>
                                </div>
                                
            
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Họ và Tên</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <% if(username == ""){ %>
                                            <input type="text" class="form-control" name="fullname" id="fullname"  value="Your Name">
                                        <% }else{ %>
                                            
                                            <input type="text" class="form-control" name="fullname" id="fullname"  value="<%-username%>">
                                        <% } %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Học Vị</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <% if(degree == ""){ %>
                                            <input type="text" name="deegree" class="form-control" value="Your Degree">
                                        <% }else{ %>
                                            <input type="text" name="deegree" class="form-control" value="<%-degree%>">
                                        <% } %>
                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nơi Công Tác</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(workplace == ""){ %>
                                            <input type="text" class="form-control" name="workplace" value="Your WorkPlace">
                                        <% }else{ %>
                                            <input type="text" class="form-control" name="workplace" value="<%-workplace%>">
                                        <% } %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Giới Thiệu</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(introduce == ""){ %>
                                            <textarea class="form-control" name="introduce" id="introduce"></textarea>
                                        <% }else{ %>
                                            <textarea class="form-control" name="introduce" id="introduce"><%-introduce%></textarea>
                                        <% } %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Môn giảng dạy</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">

                                        <% if(achievement == ""){ %>
                                            <textarea class="form-control" name="achievement" id="achievement"></textarea>
                                        <% }else{ %>
                                            <textarea class="form-control" name="achievement" id="achievement"><%-achievement%></textarea>
                                        <% } %>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Phương Pháp Giảng Dạy</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(tcmethod == ""){ %>
                                            <textarea class="form-control" name="tcmethod" id="tcmethod"></textarea>
                                        <% }else{ %>
                                            <textarea class="form-control" name="tcmethod" id="tcmethod"><%-tcmethod%></textarea>
                                        <% } %>
                                    </div>
                                </div>
                                
                            </fieldset>
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông tin liên hệ</h3>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(tcemail == ""){ %>
                                            <input type="email" class="form-control" name="email" value="Your Email">
                                        <% }else{ %>
                                            <input type="email" class="form-control" name="email" value="<%-tcemail%>">
                                        <% } %>
                                        <p class="help-block">Nhập Email của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Facebook</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        <% if(fb == ""){ %>
                                            <input type="url" class="form-control" name="fb" value="">
                                        <% }else{ %>
                                            <input type="url" class="form-control" name="fb" value="<%-fb%>">
                                        <% } %>
                                        <p class="help-block">Nhập link Facebook của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Twitter</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(tw == ""){ %>
                                            <input type="text" class="form-control" name="tw" value="">
                                        <% }else{ %>
                                            <input type="text" class="form-control" name="tw" value="<%-tw%>">
                                        <% } %>
                                        <p class="help-block">Nhập username Twitter của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Linkedin</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                        
                                        <% if(lnk == ""){ %>
                                            <input type="url" class="form-control" name="lnk" value="">
                                        <% }else{ %>
                                            <input type="url" class="form-control" name="lnk" value="<%-lnk%>">
                                        <% } %>
                                        <p class="help-block">Ví dụ https://www.linkedin.com/in/yourname</p>
                                    </div>
                                </div>
                                
                                
                            </fieldset>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-primary" type="submit" value="Cập Nhật">
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </section>
        </div>
        
    </div>


    <%- include('footer') %>