<%- include('header'); %>
<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="">
                            <ul class="meta list list-unstyled">
                                <li class="name"><% if(teacher.name == ""){ %>
                                    Your Name
                                <% }else{ %>
                                    <%=teacher.name%>
                                <% } %>
                                    
                                </li>
                                <li class="email"><a href="#">
                                    <% if(teacher.email == ""){ %>
                                        Your Email
                                    <% }else{ %>
                                        <%=teacher.email%>
                                    <% } %>
                                </a></li>
                                <li class="activity">
                                    <% if(teacher.achievement == ""){ %>
                                        Your Subject
                                    <% }else{ %>
                                        <%=teacher.achievement%>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li><a href="http://localhost:3000/profile"><span class="fa fa-user"></span> Thông Tin</a></li>
                                <li class="active"><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Khoá Học</a></li>
                                <li><a href="http://localhost:3000/profile/class-management"><i class="fas fa-bookmark"></i> Quản Lý Lớp Học</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel" id="infor">
                      <h2 class="title">Tạo Khoá Học</h2>
                        <form method="POST" enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="title">Tiêu Đề: </label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Nhập tiêu đề của khoá học">
                            <br>
                            <label for="cate">Môn học: </label>
                            <select class="form-control" id="cate" name="cate">
                                <option value="Toán">Toán</option>
                                <option value="Hoá Học">Hoá Học</option>
                                <option value="Vật Lý">Vật Lý</option>
                                <option value="Sinh Học">Sinh Học</option>
                                <option value="Anh Văn">Anh Văn</option>
                                <option value="Ngữ Văn">Ngữ Văn</option>
                              </select>
                            <br>
                            <label for="file">Ảnh bìa: </label>
                            <input type="file" name="file" class="form-control-file" id="file">
                            <br>
                            <label for="desc">Mô tả: </label>
                            <textarea name="description" id="description" class="form-control"></textarea>
                            <br>
                            <button type="submit" class="btn btn-primary mb-2">Tạo</button>
                          </div>
                        </form>
                        <h2 class="title">Quản Lý Khoá Học</h2>
                        <div class="row">
                          <% course.forEach(function(course){%>
                            <div class="col-sm-6 col-md-5 fa-border" style="padding: 10px; margin: 20px;">
                              <div class="card">
                                <div class="card-body">
                                    <a href="#"><img src="data:course/<%=course.image.contentType%>;base64,<%=course.image.data.toString('base64')%>" alt="img" style="width: 300px; height: 300xp;"></a>
                                  <h5 class="card-title"><%=course.title%></h5>
                                  <p class="card-text"><%=course.description%></p>
                                  <a href="course-management/<%=course.id%>" class="btn btn-primary">Chi tiết</a>
                                </div>
                              </div>
                            </div>
                            <%})%>
                            
                              

                            

                     
                          </div>
                    </div>
                    
                </div>
            </section>
        </div>
        
    </div>


    <%- include('footer') %>