<%- include('header'); %>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2><%-title%></h2>
            <ol class="breadcrumb">
             <li><a href="#">Trang Chủ</a></li>            
             <li class="active"><%-title%></li>
           </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <!-- Start gallery  -->
  <!-- Start our teacher -->
  <section id="mu-our-teacher">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-our-teacher-area">
            <!-- begain title -->
            <div class="mu-title">
              <h2>Danh Sách Gia Sư</h2>
              
            </div>
            <!-- end title -->
            <!-- begain our teacher content -->
            <div class="mu-our-teacher-content">
              <div class="row">
                <% teachers.forEach(function(item) {%>
                  <div class="col-lg-3 col-md-3 col-sm-6 fa-border">
                    <div class="mu-our-teacher-single">
                      <figure class="mu-our-teacher-img">
                        <img src="data:item/<%=item.image.contentType%>;base64,<%=item.image.data.toString('base64')%>" alt="teacher img" style="height: 250px;">
                        <div class="mu-our-teacher-social">
                          <a href="<%=item.fb%>"><span class="fa fa-facebook"></span></a>
                          <a href="<%=item.tw%>"><span class="fa fa-twitter"></span></a>
                          <a href="<%=item.lnk%>"><span class="fa fa-linkedin"></span></a>
                          <a href="<%=item.email%>"><span class="fa fa-google-plus"></span></a>
                        </div>
                      </figure>                    
                      <div class="mu-ourteacher-single-content">
                        <h4><%=item.name%></h4>
                        <span>Gia Sư <%=item.achievement%></span>
                        <p>- <%=item.introduce%></p>
                        <a class="link-primary" href="teacher-detail/<%=item.id%>">Chi Tiết</a>
                      </div>
                    </div>
                  </div>
                <% }) %>
                

                

                
                

                
                
              </div>
            </div> 
            <!-- End our teacher content -->           
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->
  <!-- End our teacher -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End gallery  -->

<%- include('footer'); %>
