<%- include('header'); %>
<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            <ul class="meta list list-unstyled">
                                <li class="name">
                                    <%-teacher.name%>
                                <li class="email"><a href="#">
                                    <%-teacher.email%>
                                </a></li>
                                <li class="activity">
                                    <%-teacher.achievement%>
                                </li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li class="active"><a href="#"><span class="fa fa-user"></span> Thông Tin</a></li>
                                <li><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Lớp Học</a></li>
                                <li><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Khoá Học</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel" id="infor">
                        <h2 class="title">Trang Cá Nhân</h2>
                        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="profile/addprofile">
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông Tin Cá Nhân</h3>
                                <div class="form-group avatar">
                                    <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                        <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                    </figure>
                                    <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                        <input type="file" name="file" id="file" class="file-uploader pull-left">
                                        <button type="submit" class="btn btn-sm btn-default-alt pull-left">Cập nhật ảnh</button>
                                    </div>
                                </div>
                                
            
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Họ và Tên</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" name="fullname" id="fullname"  value="<%-teacher.name%>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Học Vị</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12"> 
                                            <input type="text" name="deegree" class="form-control" value="<%-teacher.degree%>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nơi Công Tác</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" name="workplace" value="<%-teacher.workplace%>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Giới Thiệu</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <textarea class="form-control" name="introduce" id="introduce"><%-teacher.introduce%></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Môn giảng dạy</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <textarea class="form-control" name="achievement" id="achievement"><%-teacher.achievement%></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Phương Pháp Giảng Dạy</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <textarea class="form-control" name="tcmethod" id="tcmethod"><%-teacher.tcmethod%></textarea>
                                    </div>
                                </div>
                                
                            </fieldset>
                            <fieldset class="fieldset">
                                <h3 class="fieldset-title">Thông tin liên hệ</h3>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="email" class="form-control" name="email" value="<%-teacher.email%>">
                                        <p class="help-block">Nhập Email của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Facebook</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="url" class="form-control" name="fb" value="<%-teacher.fb%>">
                                        <p class="help-block">Nhập link Facebook của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Twitter</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control" name="tw" value="<%-teacher.tw%>">
                                        <p class="help-block">Nhập username Twitter của bạn</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2  col-sm-3 col-xs-12 control-label">Linkedin</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12">
                                            <input type="url" class="form-control" name="lnk" value="<%-teacher.lnk%>">
                                        <p class="help-block">Ví dụ https://www.linkedin.com/in/yourname</p>
                                    </div>
                                </div>
                                
                                
                            </fieldset>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-primary" type="submit" value="Cập Nhật">
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </section>
        </div>
        
    </div>


    <%- include('footer') %>