<%- include('header'); %>
<link href="/assets/css/profile.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block" src="data:image/<%=image.contentType%>;base64,<%=image.data.toString('base64')%>" alt="">
                            <ul class="meta list list-unstyled">
                                <li class="name"><% if(teacher.name == ""){ %>
                                    Your Name
                                <% }else{ %>
                                    <%=teacher.name%>
                                <% } %>
                                    
                                </li>
                                <li class="email"><a href="#">
                                    <% if(teacher.email == ""){ %>
                                        Your Email
                                    <% }else{ %>
                                        <%=teacher.email%>
                                    <% } %>
                                </a></li>
                                <li class="activity">
                                    <% if(teacher.achievement == ""){ %>
                                        Your Subject
                                    <% }else{ %>
                                        <%=teacher.achievement%>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav">
                                <li><a href=".http://localhost:3000/profile"><span class="fa fa-user"></span> Thông Tin</a></li>
                                <li class="active"><a href="#"><i class="fas fa-bookmark"></i> Quản Lý Khoá Học</a></li>
                                <li><a href="http://localhost:3000/profile/class-management"><i class="fas fa-bookmark"></i> Quản Lý Lớp Học</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel" id="infor">
                      <h2 class="title">Chi Tiết Khoá Học</h2>
                      <h3 class="title">Tiêu Đề: <span><%=course.title%></span></h3>
                      <h3 class="title">Môn Học: <span><%=course.category%></span></h3> 
                      <img src="data:course/<%=course.image.contentType%>;base64,<%=course.image.data.toString('base64')%>" alt="img" style="width: 50%; height: 200px;"> <br><br>
                      <h3 class="title">Mô Tả: <span><%=course.description%></span></h3>
                      
                      <h3 class="title">Danh Sách Bài Giảng: </h3>
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tiêu Đề</th>
                            <th scope="col">Link</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% var i=0 %>
                        <%course.lessons.forEach(function(lesson){%>
                            <tr>
                                <th scope="row"><%=i=i+1 %></th>
                                <td><%=lesson.title%></td>
                                <td><%=lesson.link%></td>
                              </tr>
                        <%})%>
                          
                        </tbody>
                      </table>
                      <hr>
                      <h3 class="title">Thêm Bài Giảng: </h3>
                        <form method="POST">
                            <div class="form-group">
                                <label for="title">Tiêu Đề: </label>
                                <input type="text" name="title" class="form-control" id="title" placeholder="Nhập tiêu đề của bài giảng">
                                <br>
                                <label for="title">Link bài giảng: </label>
                                <input type="link" name="link" class="form-control" id="link" placeholder="Nhập link Youtube của bài giảng">
                                <br>
                                <button type="submit" class="btn btn-primary mb-2">Thêm</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </section>
        </div>
        
    </div>


    <%- include('footer') %>